.findAStore {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
    opacity: 0.87;
    margin-right: 20px;
    font-weight: 700;
}

.findAStore:hover {
    color: #008248;
    transition: all 0.1s;
}